<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2008 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.cvpcs.android.gem_settings"
        android:sharedUserId="android.uid.gem">

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application android:label="@string/app_label" android:icon="@drawable/app_icon">

        <activity android:name=".activity.GEMSettings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- Disable these because this is now accessed via the settings menu
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" /> -->
                <category android:name="com.android.settings.SHORTCUT" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.Audio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Performance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.UITweaks">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
	<activity android:name=".activity.Extras">
	    <intent-filter>
		<action android:name="android.intent.action.MAIN" />
	    </intent-filter>
	</activity>
	<activity android:name=".activity.Tools">
	    <intent-filter>
		<action android:name="android.intent.action.MAIN" />
	    </intent-filter>
	</activity>
	<activity android:name=".activity.GalaxySWidget">
	    <intent-filter>
		<action android:name="android.intent.action.MAIN" />
	    </intent-filter>
	</activity>
	<activity android:name=".activity.GalaxySWidgetSelectButtons">
	    <intent-filter>
		<action android:name="android.intent.action.MAIN" />
	    </intent-filter>
	</activity>
	<activity android:name=".activity.GalaxySWidgetOrderButtons">
	    <intent-filter>
		<action android:name="android.intent.action.MAIN" />
	    </intent-filter>
	</activity>

    </application>
</manifest>
